main section#about-text {
	margin: auto;
}

main section#contact-form {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200%;
}

main section#contact-form a {
	background-color: #a5b58d;
	color: black;
	font-size: 150%;
	text-decoration: none;
	border: solid;
	border-color: black;
	border-radius: 1vh;
	border-width: 0.3vh;
	padding: 1vh;
	transition: all 0.5s;
}

main section#contact-form a:hover {
	background-color: #b58b63;
	color: #f6efe8;
}

main aside#open-hours {
	grid-area: as1;
}

main aside#map {
	grid-area: as2;
	border-radius: 1rem 0rem 0rem 0rem;
	border-left: 0.2rem solid;
	border-top: 0.2rem solid;
	border-color: #b58b63;
}

main aside#map a img {
	border-radius: 1rem 0rem 0rem 0rem;
	width: 100%;
	height: 100%;
}