main section#info-text {
	grid-area: sc1;
}

main section#info-text p {
	padding: 5vh;
	text-align: center;
}

main section#outside {
	grid-area: sc2;
}

main aside#cinnamon-bun {
	grid-area: as1;
	display: flex;
}

main aside#cinnamon-bun img {
	width: 50%;
	margin: auto;
}

main aside#open-hours {
	grid-area: as2;
}