main {
	width: 80%;
	justify-self: center;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 1fr 3fr;
	gap: 1vh;
}

main ul#view-opts {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1vh;
}

main ul#view-opts li {
	background-color: #a5b58d;
	border: solid;
	border-radius: 1vh;
	border-width: 0.3vh;
	padding: 1vh;
	transition: background-color 0.5s;
}

main ul#view-opts li:hover {
	background-color: #b58b63;
}

main ul#view-opts li button {
	position: relative;
	background-color: #a5b58d;
	font-weight: bold;
	font-size: 150%;
	text-decoration: none;
	color: black;
	transition: all 0.5s;
}

main ul#view-opts li:hover button {
	background-color: #b58b63;
	color: #f6efe8;
}

main ul#view-opts li button span {
	opacity: 1;
	transition: opacity 0.5;
}

main ul#view-opts li button span.back {
	position: absolute;
	left: 0;
	opacity: 0;
}

main ul#allergy-icons {
	padding: 0;
	background-color: #b58b63;
	border-radius: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

main ul#allergy-icons li {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10%;
}

div.allergy {
	width: 2vh;
	height: 2vh;
	border: solid;
	border-radius: 1vh;
	border-width: 0.3vh;
}

div.gluten {
	background-color: #e0e080;
}

div.lactose {
	background-color: #a5a0e0;
}

div.vegan {
	background-color: #a5e58d;
}

main section#main {
	grid-column: span 2;
	position: relative;
}

main section#main article {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	height: 80%;
	transition: opacity 1s;
}

main section#main article#products {
	opacity: 1;
}

main section#main article#products ul {
	width: 100%;
	height: calc(100% - 1vh);
	display: flex;
	padding-left: 0;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
}

main section#main article#products ul li {
	width: 16%;
	height: 48%;
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 1vh;
	background-color: #b58b63;
	border-radius: 1vh;
	border: solid #b58b63;
	background-size: cover;
}

main section#main article#products ul li div.allergy {
	margin-top: 1vh;
}

#vortbrod {
	background-image: url("../img/products/vortbrod.jpg");
}

#rakmacka {
	background-image: url("../img/products/rakmacka.jpg");
}

#chai {
	background-image: url("../img/products/chai.jpg");
}

#chiapudding {
	background-image: url("../img/products/chiapudding.jpg");
}

#cappuccino {
	background-image: url("../img/products/cappuccino.jpg");
}

#blabarspaj {
	background-image: url("../img/products/blabarspaj.jpg");
}

#linssoppa {
	background-image: url("../img/products/linssoppa.jpg");
}

#smoothie {
	background-image: url("../img/products/smoothie.jpg");
}

#paj {
	background-image: url("../img/products/paj.jpg");
}

#saffranskladdkaka {
	background-image: url("../img/products/saffranskladdkaka.jpg");
}

#varmchoklad {
	background-image: url("../img/products/varmchoklad.jpg");
}

#lussekatt {
	background-image: url("../img/products/lussekatt.jpg");
}

main section#main article#whole-menu-text {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

main section#main article#whole-menu-text section {
	flex: 1;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main section#main article#whole-menu-text section ul {
	width: 20vw;
	list-style: none;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
	border-left: solid #b58b63;
	border-right: solid #b58b63;
}

main section#main article#whole-menu-text section ul li {
	display: flex;
	justify-content: space-between;
}

main section#main article#catering h1 {
	font-size: 800%;
	cursor: default;
}