main {
	width: 80%;
	justify-self: center;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 1fr 3fr;
	gap: 1vh;
}

main ul#view-opts {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1vh;
}

main ul#view-opts li {
	background-color: #a5b58d;
	border: solid;
	border-radius: 1vh;
	border-width: 0.3vh;
	padding: 1vh;
	transition: background-color 0.5s;
}

main ul#view-opts li:hover {
	background-color: #b58b63;
}

main ul#view-opts li button {
	position: relative;
	background-color: #a5b58d;
	font-weight: bold;
	font-size: 150%;
	text-decoration: none;
	color: black;
	transition: all 0.5s;
}

main ul#view-opts li:hover button {
	background-color: #b58b63;
	color: #f6efe8;
}

main ul#view-opts li button span {
	opacity: 1;
	transition: opacity 0.5;
}

main ul#view-opts li button span.back {
	position: absolute;
	left: 0;
	opacity: 0;
}

main ul#allergy-icons {
	background-color: #b58b63;
	border-radius: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

main ul#allergy-icons li {
	display: flex;
	justify-content: center;
	gap: 2vh;
}

div.allergy {
	width: 2vh;
	height: 2vh;
	border: solid;
	border-radius: 1vh;
	border-width: 0.3vh;
}

div.gluten {
	background-color: #e0e080;
}

div.lactose {
	background-color: #a5a0e0;
}

div.vegan {
	background-color: #a5e58d;
}

main section#main {
	grid-column: span 2;
	position: relative;
}

main section#main article {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	height: 80%;
	transition: opacity 1s;
}

main section#main article#products {
	opacity: 1;
}

main section#main article#products ul {
	width: 100%;
	height: calc(100% - 1vh);
	display: flex;
	padding-left: 0;
	flex-wrap: wrap;
	gap: 1vh;
	justify-items: center;
}

main section#main article#products ul li {
	flex: 0 0 calc((100% - (6vh - 1vh)) / 6);
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 1vh;
	background-color: #b58b63;
	border-radius: 1vh;
}

main section#main article#products ul li div.allergy {
	margin-top: 1vh;
}

main section#main article#whole-menu-text {
	display: flex;
	justify-content: space-evenly;
}

main section#main article#whole-menu-text section {
	flex: 1;
	margin-left: 0;
	display: flex;
	flex-direction: column;
}

main section#main article#whole-menu-text section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

main section#main article#whole-menu-text section ul li span.price {
	align-self: flex-end;
}

main section#main article#catering h1 {
	font-size: 800%;
}