main {
	grid-template-areas:
		"vo ai"
		"mn mn";
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 3fr;
}

main section#view-opts {
	grid-area: vo;
}

main section#view-opts ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

main section#view-opts ul li {
	background-color: #a5b58d;
	border: solid;
	border-radius: 1vh;
	border-width: 0.3vh;
	padding: 1vh;
	transition: background-color 0.5s;
}

main section#view-opts ul li:hover {
	background-color: #b58b63;
}

main section#view-opts ul li button {
	position: relative;
	background-color: #a5b58d;
	font-weight: bold;
	font-size: 150%;
	text-decoration: none;
	color: black;
	transition: all 0.5s;
}

main section#view-opts ul li:hover button {
	background-color: #b58b63;
	color: #f6efe8;
}

main section#view-opts ul li button span {
	opacity: 1;
	transition: opacity 0.5;
}

main section#view-opts ul li button span.back {
	position: absolute;
	left: 0;
	opacity: 0;
}

main section#allergy-icons {
	grid-area: ai;
	margin-right: 5vh;
	background-color: #b58b63;
	border-radius: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

main section#allergy-icons li {
	display: flex;
	justify-content: center;
	gap: 2vh;
}

main section#allergy-icons li div {
	width: 2vh;
	height: 2vh;
	border: solid;
	border-radius: 1vh;
	border-width: 0.3vh;
}

main section#allergy-icons li div#gluten {
	background-color: #c0e000;
}

main section#allergy-icons li div#lactose {
	background-color: #a5a0e0;
}

main section#allergy-icons li div#vegan {
	background-color: #a5b58d;
}