body {
	margin: auto;
}

#wrapper {
	background-color: #f6efe8;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: grid;
	grid-template-areas:
		"hd"
		"nv"
		"ti"
		"mn"
		"ft";
	grid-template-rows: 2fr 1fr 2fr 4fr 2fr;
}

header {
	grid-area: hd;
	background-color: #a5b58d;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header img {
	width: 10vw;
}

nav {
	grid-area: nv;
	background-color: #a5b58d;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	list-style: none;
}

nav ul li {
	border: solid;
	border-radius: 1vh;
	border-width: 0.3vh;
	padding: 1vh;
	transition: background-color 0.5s;
}

nav ul li:hover {
	background-color: #b58b63;
}

nav ul li a {
	color: black;
	font-size: 150%;
	text-decoration: none;
	transition: color 0.5s;
}

nav ul li:hover a {
	color: #f6efe8;
}

#title {
	grid-area: ti;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	grid-area: mn;
	display: grid;
	grid-template-areas:
		"sc1 as1"
		"sc2 as2";
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
}

aside#open-hours ol li {
	display: flex;
	/*space-between gör att vänstertexten ligger intill vänster kant och högerkanten intill höger kant*/
	justify-content: space-between;
	/*paddingen gör att vänstertexten och högertexten ligger intill varandra*/
	padding-left: 30%;
	padding-right: 30%;
}

footer {
	grid-area: ft;
	background-color: #a5b58d;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
}

footer section span a {
	text-decoration: none;
	color: black;
}

footer section#contact-info {
	display: flex;
	justify-content: center;
	gap: 2%;
}

footer section#social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2%;
	/*Gör att sektionen är tillräckligt stor så kontakt sektionen inte puttas undan vid hovring vid loggorna*/
	height: 20%;
}

footer section#social-media a img {
	width: 2vw;
}

footer section a {
	transition: all 0.1s;
}

footer section#social-media a:hover {
	padding: 0.2rem;
	border: 0.2rem solid black;
	border-radius: 0.4rem;
}

aside#open-hours ol {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

button {
	padding: 0;
	border: none;
	background: none;
}